# dependencies
node_modules/

# build output
dist/
build/

# env
.env
.env.local
.env.*.local

# databases
*.db
*.sqlite

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/
.jetro/

# misc
*.tsbuildinfo
